body {
  font-family: Arial, Tahoma, sans-serif; }

* {
  box-sizing: border-box; }

.container {
  width: 80%;
  margin: 100px auto; }

.city-list {
  font-size: 0;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden; }
  .city-list .wrap {
    transition: width 0.3s ease;
    display: inline-block;
    padding: 2%;
    vertical-align: top;
    width: 25%; }
    .city-list .wrap .inner {
      width: 100%;
      height: 100px;
      color: #000;
      position: relative;
      background: #ebebeb;
      transition: background 5s ease-out; }
      .city-list .wrap .inner .key {
        font-size: 70px;
        display: block;
        text-align: center;
        line-height: 100px;
        color: #999;
        cursor: default; }
      .city-list .wrap .inner .name, .city-list .wrap .inner .temperature, .city-list .wrap .inner .main {
        position: absolute;
        bottom: -17px;
        font-size: 15px;
        left: 0; }
      .city-list .wrap .inner .name {
        top: -17px;
        bottom: auto; }
      .city-list .wrap .inner .main {
        right: 0;
        left: auto;
        bottom: -35px;
        height: 35px; }
        .city-list .wrap .inner .main img {
          max-height: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 3px; }
      .city-list .wrap .inner .remove-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(235, 235, 235, 0.8);
        color: #999;
        font-size: 45px;
        line-height: 100px;
        text-align: center;
        text-decoration: none;
        display: block;
        opacity: 0;
        transition: all 0.4s ease;
        z-index: 0; }
      .city-list .wrap .inner:hover .remove-link {
        opacity: 1;
        z-index: 10; }
    .city-list .wrap.updating .inner {
      background: #95ebb6;
      transition: background 0.3s ease-out; }

.add-city {
  width: 30%;
  margin: 0 auto;
  position: relative; }
  .add-city input[type=text] {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid #bebebe;
    line-height: 40px;
    border-radius: 10px;
    outline: none;
    padding: 0 10px; }
  .add-city a.btn {
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #bebebe;
    border-radius: 0 10px 10px 0;
    background: #ebebeb;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #999; }
    .add-city a.btn:hover {
      opacity: 0.8; }
